@page
@model WebApp.Pages.FindGame

<div class="load-game-wrapper">
    <table class="load-game table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var game in Model.ListOfGames)
        {
            @if (game.Text.Split(".").Last() == "multiplayer")
            {
                <tr>
                    <td> @game.Value </td>
                    <td> @game.Text </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="GameId" value="@game.Value" />
                            <button class="connect" asp-page-handler="Connect">Connect</button>
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    
    <a class="return-button" asp-page="./MultiplayerMenu">Return</a>
    
</div>
